#footer{
     height:60px;
 }
#mainContent{
    padding-bottom:70px;
}
#divProduct{
    width:20%;
    min-width:350px;
}
#divPagination{
    clear:both;
}
#tablePanier thead tr th:first-child, #tableAdmin thead tr th:first-child{
    border-top-left-radius:.25rem;
}
#tablePanier thead tr th:last-child{
    width:10%;
    min-width:80px;
}
#thPanierQte{
    width:10%;
    min-width:80px;
}
#tablePanier tbody tr td:first-child, #tableAdmin tbody tr td:first-child{
    width:100px;
}
#tablePanier tbody tr td:first-child img, #tableAdmin tbody tr td:first-child img{
    width:70px
}
#tablePanierTotal{
    width:300px;
}
#tableAdmin tbody tr:hover{
    cursor:pointer;
}
#tableAdmin thead tr th:last-child{
    border-top-right-radius:.25rem;
    min-width:80px;
}
#tdAdminPrix{
    width:10%;
    min-width:80px;
}